{
    persist_config off

    log {
        level {{ settings.log_level }}
        format {{ settings.log_format }}
    }
}

:{{ settings.port }} {
    map {path} {endpoint} {
        ~^(?:\/v[0-9.]+)?\/([^\/?]+) "${1}"
    }

    {% for matcher in matchers %}
    @{{ matcher.name }} {
        {% for rule in matcher.rules %}
        {{ rule }}
        {% endfor %}
    }

    handle @{{ matcher.name }} {
        reverse_proxy unix//var/run/docker.sock
    }

    {% endfor %}
    handle {
        respond {{ settings.http_status_code }}
    }
}